<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <header class="header">
        <div class="header__container">
            <!--<div class="header__logo">
                <img src="#" alt="logo">
            </div>-->
            <span class="header__title"> PROFILE PAGE</span>

            <form class="header__search" method="" action="">
                <input type="text" placeholder="Поиск людей...">
                <input type="image" src="image/search.png">
            </form>

            <!--<div class="header__auth">
                <ul>
                    <li>Вход</li>
                    <li>Регистрация</li>
                </ul>
            </div>-->

            <div class="header__profile">
                <img src="#" alt="profile">
                <span>Алексей</span>
            </div>
        </div>


    </header>

    <div class="globalContainter">
        <div class="container">
            <div class="container__header">
                <div class="container__image">
                    <div></div>
                </div>
                <div class="container__profileMenu">
                    <ul>
                        <li>Диалоги</li>
                        <li>Друзья</li>
                        <li>Алексей Кохонов</li>
                        <li>Фото</li>
                        <li>О себе</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                </footer>
            </div>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
</body>
</html>
