@using System.Security.Claims
@using Microsoft.AspNet.Identity
@using WEB.Infrastructure.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/jquery-ui.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <header class="header">
        <div class="header__container">
            <!--<div class="header__logo">
                <img src="#" alt="logo">
            </div>-->

            <form class="header__search" action="">
                <input type="text" placeholder="Поиск людей...">
                <input type="image" src="image/search.png">
            </form>

            <!--<div class="header__auth">
                <ul>
                    <li>Вход</li>
                    <li>Регистрация</li>
                </ul>
            </div>-->
            @if (Request.IsAuthenticated)
            {
                
            }
            <div class="header__profile">
                <img src="#" alt="profile">
                @User.GetFullName()
                @*<span>Алексей</span>*@
            </div>
        </div>


    </header>

<div class="globalContainter">
    
    @if (Request.IsAuthenticated)
    {
        <div class="globalContainer__leftMenu">

            <ul>
                <li>@Html.ActionLink("Профиль", "ShowUser", "Profile", new { id = User.Identity.GetUserId()}, null)</li>
                <li>@Ajax.ActionLink("Редактировать", "Edit", "EditProfile", new AjaxOptions { UpdateTargetId = "profile", OnSuccess = "onSuccessJoin(this)" })</li>
                <li>@Ajax.ActionLink("Друзья", "Index", new AjaxOptions { UpdateTargetId = "test" })</li>
                <li>@Ajax.ActionLink("Фото", "Index", "Join", new AjaxOptions { UpdateTargetId = "test", OnSuccess = "onSuccessJoin(this)" })</li>
            </ul>

        </div>
    }
    

    <div class="container" id="profile">
        @RenderBody()
    </div>
    <div class="container body-content">
        <hr/>
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/siteJs")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</div>
</body>
</html>
