@model WEB.Models.LoginModel

@using (@Html.BeginForm("Login", "Join", FormMethod.Post, new { @class = "join__login", @id = "login" }))
{
    @Html.AntiForgeryToken()

    <div class="content__field">
        <label>E-mail<span class="field__required">*</span></label>
        @Html.TextBoxFor(model => model.Email, new { placeholder = Html.DisplayNameFor(model => model.Email) })
        @Html.ValidationMessageFor(model => model.Email)
    </div>
    <div class="content__field">
        <label>Пароль<span class="field__required">*</span></label>
        @Html.PasswordFor(model => model.Password, new { placeholder = Html.DisplayNameFor(model => model.Password) })
        @Html.ValidationMessageFor(model => model.Password)
    </div>
    <input class="join__complete" type="submit" value="Войти">
}

    
